body {
    background-color: rgb(134, 116, 116);
}
.board-row {
    display: flex;
}

.btn-contianer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.square {
    height: 5em;
    width: 5em;
}

.moves-btn-box {
    height: 3em;
    width: 9em;
}